* {
  margin: 0;
  paddding: 0;
  outline: 0;
  box-sizing: border-box;
}

.container,
.links-container,
.skills-container,
header {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 42px;
}

h3 {
  color: #c1c1c1;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.h3-container {
  margin-top: -38px;
}

p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: -25px;
}

.skills {
  font-size: 11px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  background: #ff6b6b;
  padding: 3px 8px;
}

.links-container {
  display: flex;
  justify-content: space-between;
}
